.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 15px;
  color: #000;
}

.list {
  display: flex;
  gap: 15px;
}

.word {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.word:hover {
  text-decoration: underline;
}
