.pageWrapper {
    width: 100%;
    background: #ffffff; /* 라이트 모드 */
    min-height: 100vh;
}

.layout {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    gap: 30px;
}

.itemsSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    color: #000; /* 검정 글씨 */
}

.observer {
    height: 50px;
}
