.topBanner {
  width: 100%;
  height: 85px;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonWrapper {
  width: 180px;
  height: 52px;
  display: flex;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 7px;
}
.logoutButton {
  background-color: white !important;
  color: #212124;
  border: 1px solid #d1d3d8;
  font-weight: 500;
}

.logoutButton:hover {
  background-color: #f2f3f6 !important;
}

.myPageButton {
  padding: 1px 5px;
  font-size: 16px;
  font-weight: 700;
  width: 160px;
}
