.inputBox {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  box-sizing: border-box;
  background: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 15px;

  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.inputBox::placeholder {
  color: #999999;
}
