.loginButton {
  width: 100%;
  height: 52px;
  background: #ff8010;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: 'Pretendard';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.loginButton:hover {
  background: #e6730e;
}


