.container {
  background: #fff8ef;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 63px;
  padding: 20px;
  box-sizing: border-box;
}
